#parse("topbar.vm")

#set($baseUrl = $SQL.getBaseUrl())

#if($Id_Guide)
    #set($resultGuide = $SQL.getGuideById($Id_Guide))
#end

#if(!$resultGuide)
    <span class="error">Aucun resultat pour cet ID de guide</span>
#end


#foreach($guide in $resultGuide)

	<div id="guidePage">
		<div id="guideInfos">
			<br><br>
			<a id="backBtn" href="$baseUrl/index.html">&larr; Retours</a><br><br>
			<span id="guideName">$guide[5], $guide[4] : $guide[1]</span><br>
			<span id="guideBy">Soumis par l'utilisateur : $guide[3]<br></span>
		</div>
		<div id="pub1"></div>
		<div id="guideText">
			$guide[2]

            #set($nbUp = $SQL.getNbLike($guide[0]))
            #set($nbDown = $SQL.getNbDislike($guide[0]))
            <div id="votes">
                #if($userId)
                    <a style="color:black;text-align:center;" href="/PlanMyTrip/pages/guide/index.html?Id_Guide=$guide[0]&votes=like" ><img src="/PlanMyTrip/img/up.png"></a>
                    <span style="color:green;">$nbUp</span>
                    <a style="color:black" href="/PlanMyTrip/pages/guide/index.html?Id_Guide=$guide[0]&votes=dislike"><img src="/PlanMyTrip/img/down.png"></a>
                    <span style="color:red;text-align:center;">$nbDown</span>

                #else
                    <img src='/PlanMyTrip/img/up.png'>
                    <span style="color:green;">$nbUp</span>
                    <img src='/PlanMyTrip/img/down.png'>
                    <span style="color:red;text-align:center;">$nbDown</span>
                #end
            </div>
        </div>
    </div>
#end
		<div id="pub2"></div>
#include("footer.vm")