#set($userIdRef = $userId)
#set($userPseudoRef = $userPseudo)
#parse("topbar.vm")
<div id="results">
	<div id="reultsTitle">
		Résultat de la cherche pour : $s <b><br>
	</div>

	<div id="resultPage">
	<div id="pub1">
	</div> 

	<div id="resultsItems"><br>
        <form action="?1&1" style="padding-bottom:10px;border-bottom:1px solid #D9D9D9;margin-bottom:20px;">
            <span style="font-size:20px;margin-left:20px;">Nouvelle recherche</span> <input type=text class="searchBarSearch" name="search" autocomplete="off" placeholder=" Entrez le nom d'une ville" value=$!s>

            Durée du séjour :
            <SELECT style="width:60px;" name="duration">
                    <OPTION VALUE="n"> </OPTION>
                    <OPTION VALUE="1">1</OPTION>
                    <OPTION VALUE="2">2</OPTION>
                    <OPTION VALUE="3">3</OPTION>
                    <OPTION VALUE="4">4</OPTION>
                    <OPTION VALUE="5">5</OPTION>
                    <OPTION VALUE="6">6</OPTION>
                    <OPTION VALUE="7">7</OPTION>
                    <OPTION VALUE="8">8</OPTION>
                    <OPTION VALUE="9">9</OPTION>
                    <OPTION VALUE="p">10+</OPTION>
            </SELECT>
            <input type="submit" class="searchGoSearch" value="GO"  style="margin-right:20px;">
            <div id="searchAutocomplete"></div>
        </form>
		<table>
        #if(!$s)
            Aucun Résultat
        #else
            #if($d == 'n')
                #set($result = $SQL.getSearchedByCity($s))
            #elseif($d == 'p')
                #set($result = $SQL.searchGuideWithSearchAndDuration($s, 10))
            #else
                #set($result = $SQL.searchGuideWithSearchAndDuration($s, $d))
            #end

            #foreach($guide in $result)
                <tr class="result">
                    <td>
                        <div class="resultInfo">
                            <div class="resultName"><a href="/PlanMyTrip/pages/guide/index.html?Id_Guide=$guide[0]">$guide[5], $guide[4] : <span style="font-style:italic;color:#8C8C8C;font-size:20px;">$guide[1]<span></a></div>
                            <div class="resultAuthor">Ecrit par : $guide[3]</div>
                            <!--Tags : <a href="#"><span class="resultTag"> Culture </span></a>, <a href="#"><span class="resultTag"> Rock </span></a>-->
                        </div>
                        <div class="resultVote">
                            <div class="greenthumb"><img class="thumb" src="/PlanMyTrip/img/up.png"><br>
                                $guide[6]
                            </div>
                            <div class="redthumb"><img class="thumb" src="/PlanMyTrip/img/down.png"><br>
                                $guide[7]
                            </div>
                        </div>
                        <br>
                    </td>
                </tr>

            #end
        #end
		</table>
	</div>

	<div id="pub2">
	</div> 
	</div>
</div>
#include("footer.vm")